# Binaries
*.exe
*.dll
*.so
*.dylib

# Test & coverage
*.test
*.out
coverage.txt

# Dependencies
vendor/

# Build
bin/
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log

# Go workspace
go.work

# Python venv
venv
venv/
venv/*